# Database
POSTGRES_DB=optica
POSTGRES_USER=optica
POSTGRES_PASSWORD=optica

APP_DB=optica_app
KEYCLOAK_DB=optica_keycloak

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# App
APP_ENV=development
APP_NAME=Optica API
APP_VERSION=0.1.0